In [1]:
emp_name=input("Enter the name of employe:")
emp_id=input("Enter the Employe id:")
basic_salary=float(input("Enter your salary:"))

har=0.20*basic_salary
da=0.10*basic_salary
pf=0.12*basic_salary
net_salary=basic_salary+har+da-pf

print("Employ impormation anout salary")
print("employe name:",emp_name)
print("employe id:",emp_id)
print("employe salary:",basic_salary)
print("employe salary HAR:",har)
print("employe salary DA:",da)
print("employe salary PF:",pf)
print("employe Net salary:",net_salary)

Enter the name of employe: Somanath
Enter the Employe id: 123456
Enter your salary: 30000

Employ impormation anout salary
employe name: Somanath
employe id: 123456
employe salary: 30000.0
employe salary HAR: 6000.0
employe salary DA: 3000.0
employe salary PF: 3600.0
employe Net salary: 35400.0